<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>GPU管理系统【主页】</title>
	<link rel="stylesheet" href="/static/style_student.css" />
</head>
<body>
	{% for message in get_flashed_messages() %}
	    <div class="alert" style="float:left;margin-left:45%;margin-top:8px;text-align:center;font-size:18px;color:black;width:20%;font-weight:bold;">
	    	{{ message }}
	    </div>
	{% endfor %}
	<div id="container">
		<div id="header" >
			<div id="logo">
	            <img src="/static/pic/logo.png" alt="">
	            <span>GPU管理系统</span>
	        </div>

			<div id="other">
				<form form method="POST" action="/logout/">
					<a id="login_out" href="/logout/" class="button">退出登录</a>
					<div id="user_img">
						<img src="{{ current_user.pic_path }}" alt="image">
					</div>
					<div id="user_name">
						<span>{{ current_user.username }}</span>
					</div>
				</form>			
			</div>
		</div>

		<div id="main">
			<div id="aside">
				<br>
				<div id="Home Page">
					<div class="asidepic">
						<img src="/static/pic/home.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/index/">主页</a>
					</div>
				</div>

				<div id="My courses">
					<div class="asidepic">
						<img src="/static/pic/courses.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/my_courses/">我的课程</a>
					</div>
				</div>

				<div id="Process">
					<div class="asidepic">
						<img src="/static/pic/process.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/process/">进程</a>
					</div>
				</div>

				<div id="Settings">
					<div class="asidepic">
						<img src="/static/pic/settings.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/settings/">设置</a>
					</div>
				</div>
			</div>

			<div id="content">

				<div id="my_courses" class="index_box">
					<a href="/my_courses/">
						<div class="index_img">
							<img src="/static/pic/courses.png" alt="">
						</div>
						我的课程
					</a>
					{% for r in relations %}
					{% for c in courses %}
					{% if c['name'] == r['course_name'] %}
					<div class="index_coursebox">
						<a href="/my_courses/all_courses/{{ c['id'] }}/">
							<div class="index_img">
								<img src="/static/pic/course_.png" alt="">
							</div>
							{{ c['name'] }}
						</a>
					</div>
					{% endif %}
					{% endfor %}
					{% endfor %}
					<p class="index_box_no">--没有更多课程--</p>
				</div>

				<div id="my_process" class="index_box">
					<a href="/process/">
						<div class="index_img">
							<img src="/static/pic/process.png" alt="">
						</div>
						&nbsp我的进程
					</a>

					{% for p in processes %}
					<div class="index_coursebox">
						<a href="/process/{{ p['id'] }}/">
							<div class="index_img">
								<img src="/static/pic/process_.png" alt="">
							</div>
							xxx课程 - {{ p['name'] }} - in {{ p['gpu_name'] }}
						</a>
					</div>
					{% endfor %}
					<p class="index_box_no">--没有更多进程--</p>
				</div>

				<div id="my_message" class="index_box">
					<a href="/message/">
						<div class="index_img">
							<img src="/static/pic/message.png" alt="">
						</div>
						&nbsp通知
					</a>
					{% for m in messages %}
					{% for r in relations %}
					{% for c in courses %}
					{% if c['name'] == r['course_name'] %}


					{% if m['course_name'] == c['name'] %}
					<div class="index_coursebox">
						<a href="/message/{{ m['id'] }}/">
							<div class="index_img">
								<img src="/static/pic/process_.png" alt="">
							</div>
							{{ m['course_name'] }} - {{ m['title'] }}
						</a>
					</div>
					{% endif %}
					{% endif %}
					{% endfor %}

					{% endfor %}
					{% endfor %}
					<p class="index_box_no">--没有更多通知--</p>

				</div>


			</div>
		</div>

</body>
</html>