<!DOCTYPE html>

<html lang="en">

<head>

    {% block head %}

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>GPU管理系统</title>

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}" type="text/css">

    {% endblock %}
</head>

<body>


    {% for message in get_flashed_messages() %}

        <div class="alert">{{ message }}</div>

    {% endfor %}


    <h2>

        <img alt="Avatar" class="avatar" src="{{ url_for('static', filename='images/avatar.png') }}">

        GPU管理系统

    </h2>

    <nav>

        <ul>


        {% if current_user.is_authenticated %}

            <li><a href="{{ url_for('logout') }}">Logout</a></li>

        {% else %}

            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('register') }}">Regist</a></li>

        {% endif %}
        </ul>

    </nav>

    {% block content %}{% endblock %}

    <footer>

        <small>&copy; 软件工程第12组</small>

    </footer>

</body>

</html>