<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>GPU教师端管理系统【课程信息修改】</title>
	<link rel="stylesheet" href="/static/style.css" />
	<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>

</head>
<body>
	{% for message in get_flashed_messages() %}
	    <div class="alert" style="float:left;margin-left:45%;margin-top:8px;text-align:center;font-size:18px;color:black;width:20%;font-weight:bold;">
	    	{{ message }}
	    </div>
	{% endfor %}
	<div id="container">
		<div id="header" >
			<div id="logo">
	            <img src="/static/pic/logo.png" alt="">
	            <span>GPU管理系统</span>
	        </div>

			<div id="other">
				<form form method="POST" action="/logout/">
					<a id="login_out" href="/logout/" class="button">退出登录</a>
					<div id="user_img">
						<img src="{{ current_user.pic_path }}" alt="image">
					</div>
					<div id="user_name">
						<span>{{ current_user.username }}</span>
					</div>
				</form>			
			</div>
		</div>

		<div id="main">
			<div id="aside">
				<br>
				<div id="Home Page">
					<div class="asidepic">
						<img src="/static/pic/home.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/index_teacher/">我的主页</a>
					</div>
				</div>

				<div id="My courses">
					<div class="asidepic">
						<img src="/static/pic/courses.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/my_courses_teacher/">我的课程</a>
					</div>
				</div>

				<div id="Process">
					<div class="asidepic">
						<img src="/static/pic/process.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/process_teacher/">GPU列表</a>
					</div>
				</div>

				<div id="Settings">
					<div class="asidepic">
						<img src="/static/pic/settings.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/settings_teacher/">我的设置</a>
					</div>
				</div>
			</div>

			<div id="content">
					<div id="notice_xxx">
						<div id="new_notice_edit">
							<a href="/my_courses_teacher/{{course['id']}}/"  class="button">
								返回课程页面
								<div class="asidepic" style="margin:5px 2px;">
									<img src="/static/pic/back.png" alt="">
								</div>
							</a>
							<form method="POST" action="/my_courses_teacher/{{course['id']}}/" ">
								
								<p style="text-indent:-156px;">
									<strong>{{course['name']}}</strong>
								</p>
								<p style="font-size:20px;margin:3px;text-indent:-156px;">
									<strong style="font-size:20px;margin:5px;">
										授课时间
									</strong>
									<input type="text" name="time" 
									required style="height:2em;width:55%;margin: 0 2px; border-radius:5px;padding-left:2px;background:rgba(255, 255, 255, 0.65);border:1px solid rgba(255, 255, 255, 0.65);" value="{{course['time']}}">
								</p>
								<div style="margin:8px;padding:5px;">
								<strong >课程简介</strong>
								<textarea id="edit_text" name="edit" cols="100" rows="18" style="float:right;width:88%;">{{course['info']}}</textarea>
								</div>
								<a id="new_notice_submit"  class="button" 
								style="float:right;clear:both;" onclick="$('#submit').trigger('click');">修改课程信息</a>
							
								<input type="submit" id="submit" name="submit_name" value="修改课程信息" style="display: none;">
							</form>
						</div>
					</div>
			</div>
		</div>

	</div>
</body>
</html>