<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Settings</title>
	<link rel="stylesheet" href="/static/style_student.css" />
</head>
<body>
	{% for message in get_flashed_messages() %}
	    <div class="alert" style="float:left;margin-left:45%;margin-top:8px;text-align:center;font-size:18px;color:black;width:20%;font-weight:bold;">
	    	{{ message }}
	    </div>
	{% endfor %}
	<div id="container">
		<div id="header" >
			<div id="logo">
	            <img src="/static/pic/logo.png" alt="">
	            <span>GPU管理系统</span>
	        </div>

			<div id="other">
				<form form method="POST" action="/logout/">
					<a id="login_out" href="/logout/" class="button">退出登录</a>
					<div id="user_img">
						<img src="{{ current_user.pic_path }}" alt="image">
					</div>
					<div id="user_name">
						<span>{{ current_user.username }}</span>
					</div>
				</form>			
			</div>
		</div>

		<div id="main">
			<div id="aside">
				<br>
				<div id="Home Page">
					<div class="asidepic">
						<img src="/static/pic/home.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/index/">主页</a>
					</div>
				</div>

				<div id="My courses">
					<div class="asidepic">
						<img src="/static/pic/courses.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/my_courses/">我的课程</a>
					</div>
				</div>

				<div id="Process">
					<div class="asidepic">
						<img src="/static/pic/process.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/process/">进程</a>
					</div>
				</div>

				<div id="Settings">
					<div class="asidepic">
						<img src="/static/pic/settings.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/settings/">设置</a>
					</div>
				</div>
			</div>

			<div id="content">
				<div id="course_above">
					<div id="course_photo">
						<img src="/static/pic/course_logo.png" alt="">
					</div>

					<div id="course_notice">
						<div class="index_img">
							<img src="/static/pic/message.png" alt="">
						</div>
						<span>
							通知
						</span>
						{% for m in messages %}
						{% if m['course_name'] == course['name'] %}
						<div class="coursegpubox">
							<a href="/message/{{ m['id'] }}/">
								<div class="index_img">
									<img src="/static/pic/message_.png" alt="">
								</div>
								{{ m['title'] }}
							</a>
						</div>
						{% endif %}
						{% endfor %}
						<p class="index_box_no">--没有更多通知--</p>
					</div>
				</div>
				
				<div id="course_below">
					<div id="courseinfo">
						<p href="xxx.html" style="font-size: 22px;font-weight: bold;">{{ course.name }}</p>
						<div id="info" class="information">
							<div id="teacherpic" class="teacherpic">
								<img src="/static/pic/teacher.png" alt="">
							</div>
							<strong id="teacher">{{ course.teacher }}&nbsp</strong>
							<span id="term">{{ course.time }}</span>
							<p>课程简介：{{ course.info }}</p>
						</div>
					</div>

					<div id="coursegpu">
						<div class="index_img">
							<img src="/static/pic/gpu_big.png" alt="">
						</div>
						<span>
							GPUs
						</span>
						{% for g in gpus %}
						{% if g['course_name'] == course['name'] %}
						<div class="coursegpubox">
							<a href="/submit/{{ g['id'] }}/">
								<div class="index_img">
									<img src="/static/pic/gpu.png" alt="">
								</div>
								{{ g['name'] }} --- {{ g['info'] }}
							</a>
						</div>
						{% endif %}
						{% endfor %}
						<p class="index_box_no">--没有更多gpu--</p>
					</div>
				</div>
			</div>
		</div>

</body>
</html>