<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>home page</title>
	<link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
	{% for message in get_flashed_messages() %}
	    <div class="alert" style="float:left;margin-left:45%;margin-top:8px;text-align:center;font-size:18px;color:black;width:20%;font-weight:bold;">
	    	{{ message }}
	    </div>
	{% endfor %}
	<div id="container">
		<div id="header" >
			<div id="logo">
	            <img src="../static/pic/logo.png" alt="">
	            <span>GPU管理系统</span>
	        </div>

			<div id="other">
				<form form method="POST" action="/logout/">
					<a id="login_out" href="/logout/" class="button">退出登录</a>
					<div id="user_name">
						<span>Username</span>
					</div>
					<div id="user_img">
						<img src="/static/pic/1.jpg" alt="image">
					</div>
				</form>			
			</div>
		</div>

		<div id="main">
			<div id="aside">
				<br>
				<div id="Home Page">
					<div class="asidepic">
						<img src="/static/pic/home.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/index/">主页</a>
					</div>
				</div>

				<div id="My courses">
					<div class="asidepic">
						<img src="/static/pic/courses.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/my_courses/">我的课程</a>
					</div>
				</div>

				<div id="Process">
					<div class="asidepic">
						<img src="/static/pic/process.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/process/">进程</a>
					</div>
				</div>

				<div id="Settings">
					<div class="asidepic">
						<img src="/static/pic/settings.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/settings/">设置</a>
					</div>
				</div>
			</div>

			<div id="content">
				<div id="my_courses" class="index_box">
					<a href="/my_courses/">
						<div class="index_img">
							<img src="/static/pic/courses.png" alt="">
						</div>
						我的课程
					</a>
					<div class="index_coursebox">
						<a href="">
							<div class="index_img">
								<img src="/static/pic/course_.png" alt="">
							</div>
							课程1
						</a>
					</div>
					<div class="index_coursebox">
						<a href="">
							<div class="index_img">
								<img src="/static/pic/course_.png" alt="">
							</div>
							课程2
						</a>
					</div>
					<div class="index_coursebox">
						<a href="">
							<div class="index_img">
								<img src="/static/pic/course_.png" alt="">
							</div>
							课程3
						</a>
					</div>
					<p class="index_box_no">--没有更多课程--</p>
				</div>

				<div id="my_process" class="index_box">
					<a href="/process/">
						<div class="index_img">
							<img src="/static/pic/process.png" alt="">
						</div>
						&nbsp我的进程
					</a>
					<div class="index_coursebox">
						<a href="">
							<div class="index_img">
								<img src="/static/pic/process_.png" alt="">
							</div>
							process1
						</a>
					</div>
					<div class="index_coursebox">
						<a href="">
							<div class="index_img">
								<img src="/static/pic/process_.png" alt="">
							</div>
							process2
						</a>
					</div>
					<div class="index_coursebox">
						<a href="">
							<div class="index_img">
								<img src="/static/pic/process_.png" alt="">
							</div>
							process3
						</a>
					</div>
					<p class="index_box_no">--没有更多进程--</p>
				</div>

				<div id="my_message" class="index_box">
					<a href="/message/">
						<div class="index_img">
							<img src="/static/pic/message.png" alt="">
						</div>
						&nbsp通知
					</a>
					<div class="index_coursebox">
						<a href="">
							<div class="index_img">
								<img src="/static/pic/process_.png" alt="">
							</div>
							message1
						</a>
					</div>
					<div class="index_coursebox">
						<a href="">
							<div class="index_img">
								<img src="/static/pic/process_.png" alt="">
							</div>
							message2
						</a>
					</div>
					<p class="index_box_no">--没有更多通知--</p>
				</div>
				
			</div>
		</div>

</body>
</html>