<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>login</title>
	<link rel="stylesheet" href="style/style.css" />
</head>
<body>
	<div id="container">
		<div id="header" >
			<div id="logo">
				<img src="pic/logo.png" alt="">
				<span>GPU管理系统</span>
			</div>

			<div id="other">
				<span>visitor&nbsp</span>
				<!-- <img src="pic/1.jpg" alt="image"> -->
				<span>&nbsp&nbsp</span>
			</div>
		</div>

		<div id="main">
			<div id="login">
				<div class="login-box">
					<p>Please Login&nbsp&nbsp请登录
						<select name="certification" class="select_button">
							<option selected="selected" value="0">请选择</option>
							<option value="1">学生</option>
							<option value="2">老师</option>
						</select>
					</p>

					<form method="post">
						<table>
							<tr>
								<td>UserName：</td>
								<td>
									<input type="text" name="username" required style="line-height: 150%;">
								</td>
							</tr>
							<tr>
								<td>Password：</td>
								<td>
									<input type="password" name="password" required style="line-height: 150%;">
								</td>
							</tr>
							<tr>
								<td>
									<input type="submit" value="login" name="login" class="login_button" onclick="location.href("/login")>
								</td>
								<td>
									<input type="submit" value="no account? regist!" name="register" class="login_button" onclick="location.href("/regist")>
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
		</div>

</body>
</html>