{% extends "layout.html" %}
{% block body %}
    {% for message in get_flashed_messages() %}
        <div class="alert" style="float:left;margin-left:45%;margin-top:-14.5%;text-align:center;font-size:18px;color:black;width:20%;font-weight:bold;">
            {{ message }}
        </div>
    {% endfor %}
<div id="container">
    <div id="header" >
		<div id="logo">
			<img src="/static/pic/logo.png" alt="">
			<span>GPU管理系统</span>
		</div>

		<div id="other">
			<span>visitor</span>
		</div>
	</div>

    <div id="main">
        <div id="login">
            <div class="login-box">
                <form method="POST" action="/login/">
                    <p>Please Login&nbsp&nbsp请登录
                        <select name="certification" class="select_button">
                            <option selected="selected">请选择</option>
                            <option value="teacher">老师</option>
                            <option value="student">学生</option>
                        </select>
                    </p>
                    <table style="color:black;">
                        <tr>
                            <th>UserName：</th>
                            <td>
                                <!-- <input type="text" name="username" required style="line-height:150%;"> -->
                                <div class="input_block">
                                    <input type="text" name="username" placeholder="用户名" required style="line-height:150%;"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Password：</th>
                            <td>
                                <!-- <input type="password" id="demo_input" name="password" required style="line-height: 150%;" placeholder="Password"> -->
                                <!--密码输入框-->
                                <div class="input_block">
                                    <img id="demo_img" onclick="hideShowPsw()" src="/static/pic/visible.png">
                                    <input type="password" id="demo_input" placeholder="密码" name="password" required style="line-height: 150%;" style="background-color:transparent; border-width:0;"/>
                                </div>

                                <script type="text/javascript">
                                // 这里使用最原始的js语法实现，可对应换成jquery语法进行逻辑控制
                                var demoImg = document.getElementById("demo_img");
                                var demoInput = document.getElementById("demo_input");
                                //隐藏text block，显示password block
                                function hideShowPsw(){
                                if (demoInput.type == "password") {
                                demoInput.type = "text";
                                demo_img.src = "/static/pic/invisible.png";
                                }else {
                                demoInput.type = "password";
                                demo_img.src = "/static/pic/visible.png";
                                }
                                }
                                </script>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a id="login_regit" href="/signup/" class="button">没有账号？去注册</a>
                            </td>
                            <td>
                                <input id="login_login" type="submit" class="button is-info" value="登录">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
<div>

{% endblock %}