<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>GPU教师端管理系统【添加课程】</title>
	<link rel="stylesheet" href="/static/style.css" />
</head>

<body>
	{% for message in get_flashed_messages() %}
	<div class="alert"
		style="float:left;margin-left:45%;margin-top:8px;text-align:center;font-size:18px;color:black;width:20%;font-weight:bold;">
		{{ message }}
	</div>
	{% endfor %}
	<div id="container">
		<div id="header">
			<div id="logo">
				<img src="/static/pic/logo.png" alt="">
				<span>GPU管理系统</span>
			</div>

			<div id="other">
				<form form method="POST" action="/logout/">
					<a id="login_out" href="/logout/" class="button">退出登录</a>
					<div id="user_img">
						<img src="{{ current_user.pic_path }}" alt="image">
					</div>
					<div id="user_name">
						<span>{{ current_user.username }}</span>
					</div>
				</form>
			</div>
		</div>

		<div id="main">
			<div id="aside">
				<br>
				<div id="Home Page">
					<div class="asidepic">
						<img src="/static/pic/home.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/index_teacher/">我的主页</a>
					</div>
				</div>

				<div id="My courses">
					<div class="asidepic">
						<img src="/static/pic/courses.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/my_courses_teacher/">我的课程</a>
					</div>
				</div>

				<div id="Process">
					<div class="asidepic">
						<img src="/static/pic/process.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/process_teacher/">GPU列表</a>
					</div>
				</div>

				<div id="Settings">
					<div class="asidepic">
						<img src="/static/pic/settings.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/settings_teacher/">我的设置</a>
					</div>
				</div>
			</div>

			<div id="content">
				<form method="POST" action="/my_courses_teacher/">
					<div id="notice_xxx">
						<p>创建课程</p>
						<div id="课程信息" class="new_course_box">
							<h2 style="text-align:center;margin-top:-10px;">课程信息</h2>
							<table>
								<tr>
									<th>课程名称</th>
									<td>
										<input type="text" name="course_name" placeholder="课程名称" style="width:99%;">
									</td>
								</tr>

								<tr>
									<th>课程时间</th>
									<td>
										<input type="text" name="time" placeholder="xxxx-xxxx学年 第x学期"
											style="width:99%;">
									</td>
								</tr>
								<tr>
									<th>课程简介</th>
									<td></td>
								</tr>
								<tr>
									<th></th>
									<td>
										<textarea name="intro" style="overflow:auto;height:120px;width:99%;margin-top:-35px;" placeholder="请输入课程简介"></textarea>
									</td>
								</tr>
							</table>
						</div>

						<div id="选择GPU" class="new_course_box">
							<h2 style="text-align:center;margin-top:-10px;margin-bottom:5px;">分配GPU</h2>
							{% for g in gpus %}
							<div id="添加GPU" class="new_course_gpu_box">
								<input type="checkbox" name="gpu-{{g['name']}}" style="float:left;margin-top:10px;">
								<div class="index_img" style="margin-left:-8px;">
									<img src="/static/pic/gpu.png" alt="">
								</div>
								<span>{{g['name']}}</span>
							</div>
							{% endfor %}
							<div id="添加GPU" class="new_course_gpu_box">
								<a id="new_notice_submit" href="/new_gpus/" class="button" style="float: right;margin-right:-5px;">
									添加新的GPU
								</a>
							</div>
						</div>

						<div align="center">
							<input type="submit" name="submit_button" class="new_course_button" value="确 认 创 建">
						</div>

					</div>
				</form>


			</div>


		</div>

	</div>
</body>

</html>