<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>GPU教师端管理系统【添加GPU】</title>
	<link rel="stylesheet" href="/static/style.css" />
</head>
<body>
	{% for message in get_flashed_messages() %}
	    <div class="alert" style="float:left;margin-left:45%;margin-top:8px;text-align:center;font-size:18px;color:black;width:20%;font-weight:bold;">
	    	{{ message }}
	    </div>
	{% endfor %}
	<div id="container">
		<div id="header" >
			<div id="logo">
	            <img src="/static/pic/logo.png" alt="">
	            <span>GPU管理系统</span>
	        </div>

			<div id="other">
				<form form method="POST" action="/logout/">
					<a id="login_out" href="/logout/" class="button">退出登录</a>
					<div id="user_img">
						<img src="{{ current_user.pic_path }}" alt="image">
					</div>
					<div id="user_name">
						<span>{{ current_user.username }}</span>
					</div>
				</form>			
			</div>
		</div>

		<div id="main">
			<div id="aside">
				<br>
				<div id="Home Page">
					<div class="asidepic">
						<img src="/static/pic/home.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/index_teacher/">主页</a>
					</div>
				</div>

				<div id="My courses">
					<div class="asidepic">
						<img src="/static/pic/courses.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/my_courses_teacher/">我的课程</a>
					</div>
				</div>

				<div id="Process">
					<div class="asidepic">
						<img src="/static/pic/process.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/process_teacher/">GPU列表</a>
					</div>
				</div>

				<div id="Settings">
					<div class="asidepic">
						<img src="/static/pic/settings.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/settings_teacher/">设置</a>
					</div>
				</div>
			</div>
            
            <div id="content">
                <form method="POST" action="/process_teacher/">
                    <div id="notice_xxx">
                    	
                        <p style="margin:10px;">添加新的GPU</p>
                        
                        <div align="center">
                            <table id="new_gpu_table">
                                <tr>
                                  <th>GPU IP</th>
                                  <td>
                                    <input type="text" name="ip" placeholder="xxx.xxx.xxx.xxx" style="width:199px">
                                  </td>
                                </tr>
                                
                                <tr>
                                  <th>GPU 端口号</th>
                                  <td>
                                    <input type="text" name="port" placeholder="请输入端口号" style="width:199px">
                                  </td>
                                  
                                </tr>
                                
                                <tr>
                                  <th>连接服务器用户名</th>
                                  <td>
									<input type="text" name="user_name" placeholder="请输入连接GPU的用户名" style="width:199px">
                                  </td>
                                  
                                </tr>
                                
                                <tr>
                                  <th>连接服务器密码</th>
                                  <td>
									<input type="text" name="password" placeholder="请输入连接GPU的密码" style="width:199px">
                                  </td>
                                  
                                </tr>
                                
                                <tr>
                                  <th>GPU 名称</th>
                                  <td>
									<input type="text" name="gpu_name" placeholder="请输入GPU名称，如1080Ti等" style="width:199px">
                                  </td>
                                  
                                </tr>
                                
                                
                                  <th>
                                  GPU对应课程(选填)
                                  </th>
                                  <td>
									<input type="text" name="course_name" placeholder="GPU对应课程(选填）" style="width:199px">
                                  </td>
                                  
                                </tr>
                                
                               
                            </table>
							<br>
						</div>
						
                        <div align="center">
                        <input type="submit" name="submit_name" value="创 建"  class="new_course_button" onClick="spanClick1();" style="margin-top:-10px;float:right;margin-right:48%;margin-bottom:10px;padding: 0 10px;">
                        </div>
                        
                    </div>
                </form>
                
                
            </div>

			
		</div>

	</div>
</body>
</html>
				
