<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Progress</title>
	<link rel="stylesheet" href="style/style.css" />
</head>
<body>
	<div id="container">
		<div id="header" >

			<div id="logo"></div>

			<div id="other">
				<span>Username&nbsp</span>
				<img src="pic/1.jpg" alt="image">
				<span>&nbsp&nbsp</span>
			</div>

		</div>

		<div id="main">
			<div id="aside">
				<div id="Home Page">
					<a href="index.html">Home Page</a>
				</div>

				<div id="My courses">
					<a href="my_courses.html">My courses</a>
				</div>

				<div id="Procress">
					<a href="process.html">Process</a>
				</div>

				<div id="Settings">
					<a href="settings.html">Settings</a>
				</div>
			</div>

			<div id="content">
				<div id="program1" class="program">
					<a href="program/1.html">Program 1</a>
					<p>xxx</p>
				</div>

				<div id="program2" class="program">
					<a href="program/2.html">Program 2</a>
					<p>xxx</p>
				</div>

				<div id="program3" class="program">
					<a href="program/3.html">Program 3</a>
					<p>xxx</p>
				</div>

				<div id="program4" class="program">
					<a href="program/4.html">Program 4</a>
					<p>xxx</p>
				</div>

			</div>
			
		</div>

	</div>
</body>
</html>