<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>GPU管理系统【进程修改】</title>
	<link rel="stylesheet" href="/static/style_student.css" />
</head>
<body>
	{% for message in get_flashed_messages() %}
	    <div class="alert" style="float:left;margin-left:45%;margin-top:8px;text-align:center;font-size:18px;color:black;width:20%;font-weight:bold;">
	    	{{ message }}
	    </div>
	{% endfor %}
	<div id="container">
		<div id="header" >
			<div id="logo">
	            <img src="/static/pic/logo.png" alt="">
	            <span>GPU管理系统</span>
	        </div>

			<div id="other">
				<form form method="POST" action="/logout/">
					<a id="login_out" href="/logout/" class="button">退出登录</a>
					<div id="user_img">
						<img src="{{ current_user.pic_path }}" alt="image">
					</div>
					<div id="user_name">
						<span>{{ current_user.username }}</span>
					</div>
				</form>			
			</div>
		</div>

		<div id="main">
			<div id="aside">
				<br>
				<div id="Home Page">
					<div class="asidepic">
						<img src="/static/pic/home.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/index/">我的主页</a>
					</div>
				</div>

				<div id="My courses">
					<div class="asidepic">
						<img src="/static/pic/courses.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/my_courses/">我的课程</a>
					</div>
				</div>

				<div id="Process">
					<div class="asidepic">
						<img src="/static/pic/process.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/process/">我的进程</a>
					</div>
				</div>

				<div id="Settings">
					<div class="asidepic">
						<img src="/static/pic/settings.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/settings/">我的设置</a>
					</div>
				</div>
			</div>

			<div id="content">
				<div id="left">
					<div id="result1_1">
						<p style="font-weight:bold;margin-bottom:5px;">
							{{ process.name }} - {{ process.info }} - 运行情况
						</p>
						<div id="box1" >
							<p>
								{{ process.state }}
							</p>
						</div>
					</div>

					<div id="result2_2">
						<p style="font-weight:bold;margin-bottom:5px;">
							运行结果
						</p>
						<p id="box2" >
							{{ process.result }}
						</p>
					</div>
				</div>

				<form method="POST" action="/process_edit/{{ process.id }}/">
				<div id="right">
					<div id="re_edit_title">
						<p style="font-weight:bold;margin-bottom:5px;">
							重新编辑
						</p>
					</div>			
					<textarea id="re_edit_text" name="edit" cols="80" rows="25">{{ process.code }}</textarea>
					<input id="re_edit_button" type="submit" class="#" value="重新运行">
				</div>
				</form>


			</div>

		</div>

</body>
</html>