<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>GPU管理系统【进程结果】</title>
	<link rel="stylesheet" href="/static/style_student.css" />
</head>
<body>
	{% for message in get_flashed_messages() %}
	    <div class="alert" style="float:left;margin-left:45%;margin-top:8px;text-align:center;font-size:18px;color:black;width:20%;font-weight:bold;">
	    	{{ message }}
	    </div>
	{% endfor %}
	<div id="container">
		<div id="header" >
			<div id="logo">
	            <img src="/static/pic/logo.png" alt="">
	            <span>GPU管理系统</span>
	        </div>

			<div id="other">
				<form form method="POST" action="/logout/">
					<a id="login_out" href="/logout/" class="button">退出登录</a>
					<div id="user_img">
						<img src="{{ current_user.pic_path }}" alt="image">
					</div>
					<div id="user_name">
						<span>{{ current_user.username }}</span>
					</div>
				</form>			
			</div>
		</div>

		<div id="main">
			<div id="aside">
				<br>
				<div id="Home Page">
					<div class="asidepic">
						<img src="/static/pic/home.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/index/">我的主页</a>
					</div>
				</div>

				<div id="My courses">
					<div class="asidepic">
						<img src="/static/pic/courses.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/my_courses/">我的课程</a>
					</div>
				</div>

				<div id="Process">
					<div class="asidepic">
						<img src="/static/pic/process.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/process/">我的进程</a>
					</div>
				</div>

				<div id="Settings">
					<div class="asidepic">
						<img src="/static/pic/settings.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/settings/">我的设置</a>
					</div>
				</div>
			</div>

			<div id="content">
				<div id="result1">
					{% for c in courses %}
					{% if c['name'] == process['course_name'] %}
					<a id="re_edit" href="/my_courses/all_courses/{{ c['id'] }}/" class="button" style="margin-right:5px;margin-top:-2px;">
						返回{{ process.course_name }}课程页面
						<div class="asidepic" style="margin:3px -2px;">
							<img src="/static/pic/back.png" alt="">
						</div>
					</a>
					{% endif %}
					{% endfor %}
					<p style="font-weight:bold;margin-bottom:5px;">
						{{ process.name }} - {{ process.info }} - 运行情况
					</p>
					<div id="box1" >
						<p>
							{{ process.state }}
						</p>
					</div>
				</div>
				<form method="POST" action="/process/{{ process.id }}/">
				<div id="result2">
					<!-- <a id="re_edit" href="/" class="button" style="margin-right:72%;">
						删除进程
					</a> -->
					<input id="re_edit_delete" type="submit" class="button is-primary" value="删除进程" style="margin-right:72%;">
					<a id="re_edit" href="/process_edit/{{ process.id }}/" class="button" style="margin-right:20px;">
						修改代码
					</a>
					<p style="font-weight:bold;margin-bottom:5px;">
						运行结果
					</p>
					<p id="box2" >
						{{ process.result }}
					</p>
				</div>
				</form>

			</div>

		</div>

</body>
</html>