<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Progress</title>
	<link rel="stylesheet" href="/static/style.css" />
</head>
<body>
	<div id="container">
		<div id="header" >
			<div id="logo">
				<img src="/static/pic/logo.png" alt="">
				<span>GPU管理系统</span>
			</div>

			<div id="other">
				<div id="userimg">
					<img src="/static/pic/1.jpg" alt="image">
					<span>&nbsp&nbsp&nbsp</span>
				</div>
				<div id="userinfo">
					<select name="user" id="user">
						<option selected="selected" value="0" class="userselect">
							<span>Username</span>
						</option>
						<option value="1" class="userselect">通知</option>
						<option value="2" class="userselect">退出登录</option>
					</select>
				</div>				
			</div>
		</div>

		<div id="main">
			<div id="aside"><br>
				<div id="Home Page">
					<div class="asidepic">
						<img src="/static/pic/home.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/index/">Home Page</a>
					</div>
				</div>

				<div id="My courses">
					<div class="asidepic">
						<img src="/static/pic/courses.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/my_courses/">My courses</a>
					</div>
				</div>

				<div id="Process">
					<div class="asidepic">
						<img src="/static/pic/process.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/process/">Process</a>
					</div>
				</div>

				<div id="Settings">
					<div class="asidepic">
						<img src="/static/pic/settings.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/settings/">Settings</a>
					</div>
				</div>
			</div>

			<div id="content">
				<div id="program1" class="program">
					<a href="/static/program/1/">Program 1</a>
					<p>xxx</p>
				</div>

				<div id="program2" class="program">
					<a href="program/2/">Program 2</a>
					<p>xxx</p>
				</div>

				<div id="program3" class="program">
					<a href="program/3/">Program 3</a>
					<p>xxx</p>
				</div>

				<div id="program4" class="program">
					<a href="program/4/">Program 4</a>
					<p>xxx</p>
				</div>

			</div>
			
		</div>

	</div>
</body>
</html>