<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Settings</title>
	<link rel="stylesheet" href="/static/style.css" />
</head>
<body>
	<div id="container">
		<div id="header" >
			<div id="logo">
				<img src="/static/pic/logo.png" alt="">
				<span>GPU管理系统</span>
			</div>

			<div id="other">
				<div id="userimg">
					<img src="/static/pic/1.jpg" alt="image">
					<span>&nbsp&nbsp&nbsp</span>
				</div>
				<div id="userinfo">
					<select name="user" id="user">
						<option selected="selected" value="0" class="userselect">
							<span>Username</span>
						</option>
						<option value="1" class="userselect">通知</option>
						<option value="2" class="userselect">退出登录</option>
					</select>
				</div>				
			</div>
		</div>

		<div id="main">
			<div id="main">
			<div id="aside"><br>
				<div id="Home Page">
					<div class="asidepic">
						<img src="/static/pic/home.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/index/">Home Page</a>
					</div>
				</div>

				<div id="My courses">
					<div class="asidepic">
						<img src="/static/pic/courses.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/my_courses/">My courses</a>
					</div>
				</div>

				<div id="Process">
					<div class="asidepic">
						<img src="/static/pic/process.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/process/">Process</a>
					</div>
				</div>

				<div id="Settings">
					<div class="asidepic">
						<img src="/static/pic/settings.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/settings/">Settings</a>
					</div>
				</div>
			</div>

			<div id="content">
				
			</div>

		</div>

</body>
</html>