<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Settings</title>
	<link rel="stylesheet" href="../static/style.css" />
</head>
<body>
	{% for message in get_flashed_messages() %}
	    <div class="alert" style="float:left;margin-left:45%;margin-top:8px;text-align:center;font-size:18px;color:black;width:20%;font-weight:bold;">
	    	{{ message }}
	    </div>
	{% endfor %}
	<div id="container">
		<div id="header" >
			<div id="logo">
	            <img src="../static/pic/logo.png" alt="">
	            <span>GPU管理系统</span>
	        </div>

			<div id="other">
				<form method="POST" action="/logout/">
					<a id="login_out" href="/logout/" class="button">退出登录</a>
					<div id="user_img">
						<img src="{{ current_user.pic_path }}" alt="image">
					</div>
					<div id="user_name">
						<span>{{ current_user.username }}</span>
					</div>
				</form>			
			</div>
		</div>

		<div id="main">
			<div id="aside">
				<br>
				<div id="Home Page">
					<div class="asidepic">
						<img src="/static/pic/home.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/index/">主页</a>
					</div>
				</div>

				<div id="My courses">
					<div class="asidepic">
						<img src="/static/pic/courses.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/my_courses/">我的课程</a>
					</div>
				</div>

				<div id="Process">
					<div class="asidepic">
						<img src="/static/pic/process.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/process/">进程</a>
					</div>
				</div>

				<div id="Settings">
					<div class="asidepic">
						<img src="/static/pic/settings.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/settings/">设置</a>
					</div>
				</div>
			</div>

			<div id="content">
				<form method="POST" action="/settings/" enctype=multipart/form-data>
					<div id="settings">
						<p>个人设置</p>
							<div id="setting_img">
								<img id="set_img" src="{{ current_user.pic_path }}" alt="image">
								<span>修改头像</span>
								<input type="file" name="upload_img" id="upload_img" onchange="getFileContent();" onClick="spanClick0();">
								<div id="userimgedit">
									<p id="user_img_edit">
										<input type="submit" name="submit_name" value="确定" style="margin-left:2px;">
										<input type="submit" name="submit_name" value="取消" style="margin-left:50px;">
									</p>
								</div>
									<script>
									function spanClick0(){
									    var obj=document.getElementById("user_img_edit");
									    var att=obj.getAttribute("open");
									    if(att!="open"){
									        obj.setAttribute("open","open");
									        }
									    else{
									        obj.removeAttribute("open");
									        }
									    }
									</script>
							</div>
							<script>
								var div_img=document.querySelector("#setting_img");
								function getFileContent(){
									var reader=new FileReader();
									var file=document.querySelector("#upload_img").files;
									console.log(file)
									reader.readAsDataURL(file[0]);
									reader.onload=function(){
									console.log(reader.result);
									document.querySelector("#set_img").src=reader.result;
									}
								}
							</script>

						<table id="setting_table">
							<tr>
								<th>用户名称</th>
								<td>
									{{ current_user.username }}
									<div id="usernameedit">
										<p id="user_name_edit">
											<input type="text" name = "newname" value="{{ current_user.username }}" style="width:7em;">
											&nbsp
											<input name="submit_name" type="submit" class="button is-info" value="更改名称">
										</p>
									</div>
								</td>
								<td>	
									<span class="setting_button" onClick="spanClick1();">编辑</span>
									<script>
									function spanClick1(){
									    var obj=document.getElementById("user_name_edit");
									    var att=obj.getAttribute("open");
									    if(att!="open"){
									        obj.setAttribute("open","open");
									        }
									    else{
									        obj.removeAttribute("open");
									        }
									    }
									</script>
								</td>
							</tr>

							<tr>
								<th>用户密码</th>
								<td>
									*******
									<div id="usernameedit">
										<p id="user_name_password">
											<input type="text" name="newpw" value="*******" style="width:7em;">
											&nbsp
											<input name="submit_name" type="submit" class="button is-info" value="更改密码">
										</p>
									</div>
								</td>
								<td>	
									<span class="setting_button" onClick="spanClick2();">编辑</span>
									<script>
									function spanClick2(){
									    var obj=document.getElementById("user_name_password");
									    var att=obj.getAttribute("open");
									    if(att!="open"){
									        obj.setAttribute("open","open");
									        }
									    else{
									        obj.removeAttribute("open");
									        }
									    }
									</script>
								</td>
							</tr>
						</table>

					</div>
				</form>
			</div>

		</div>

</body>
</html>