<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Settings</title>
	<link rel="stylesheet" href="/static/style.css" />
</head>
<body>
	{% for message in get_flashed_messages() %}
	    <div class="alert" style="float:left;margin-left:45%;margin-top:8px;text-align:center;font-size:18px;color:black;width:20%;font-weight:bold;">
	    	{{ message }}
	    </div>
	{% endfor %}
	<div id="container">
		<div id="header" >
			<div id="logo">
	            <img src="../static/pic/logo.png" alt="">
	            <span>GPU管理系统</span>
	        </div>

			<div id="other">
				<form form method="POST" action="/logout/">
					<a id="login_out" href="/logout/" class="button">退出登录</a>
					<div id="user_name">
						<span>{{ current_user.username }}</span>
					</div>
					<div id="user_img">
						<img src="/static/pic/1.jpg" alt="image">
					</div>
				</form>			
			</div>
		</div>

		<div id="main">
			<div id="aside">
				<br>
				<div id="Home Page">
					<div class="asidepic">
						<img src="/static/pic/home.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/index/">主页</a>
					</div>
				</div>

				<div id="My courses">
					<div class="asidepic">
						<img src="/static/pic/courses.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/my_courses/">我的课程</a>
					</div>
				</div>

				<div id="Process">
					<div class="asidepic">
						<img src="/static/pic/process.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/process/">进程</a>
					</div>
				</div>

				<div id="Settings">
					<div class="asidepic">
						<img src="/static/pic/settings.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/settings/">设置</a>
					</div>
				</div>
			</div>

			<div id="content">
				<form method="POST" action="/">
					<div id="settings">
						<p>个人设置</p>
						<div id="setting_img">
							<a id="/" href="/" class="button">
								<img src="/static/pic/1.jpg" alt="image">
								<span>修改头像</span>
							</a>
						</div>
						<table id="setting_table">
							<tr>
								<th>用户名称</th>
								<td>Username</td>
								<td>
									<a class="setting_button" href="/" class="button">
										编辑
									</a>
								</td>
							</tr>
							<tr>
								<th>用户密码</th>
								<td>*******</td>
								<td>
									<a class="setting_button" href="/" class="button">
										编辑
									</a>
								</td>
							</tr>
							<tr>
								<th>用户学号</th>
								<td>未填写</td>
								<td>
									<a class="setting_button" href="/" class="button">
										编辑
									</a>
								</td>
							</tr>
							<tr>
								<th>用户年级</th>
								<td>未填写</td>
								<td>
									<a class="setting_button" href="/" class="button">
										编辑
									</a>
								</td>
							</tr>
							<tr>
								<th>用户班级</th>
								<td>未填写</td>
								<td>
									<a class="setting_button" href="/" class="button">
										编辑
									</a>
								</td>
							</tr>
						</table>
					</div>
				</form>
			</div>

		</div>

</body>
</html>