{% extends "layout.html" %}
{% block body %}

<div id="container">
    <div id="header" >
        <div id="logo">
            <img src="pic/logo.png" alt="">
            <span>GPU管理系统</span>
        </div>

        <div id="other">
            <span>visitor&nbsp</span>
            <!-- <img src="pic/1.jpg" alt="image"> -->
            <span>&nbsp&nbsp</span>
        </div>
    </div>

    <div id="main">
<div id="login">
            <div class="login-box">
                <p>Please Regist&nbsp&nbsp请注册
                    <select name="certification" class="select_button">
                        <option selected="selected">请选择</option>
                        <option value="student">学生</option>
                        <option value="teacher">老师</option>
                    </select>
                </p>

                <form method="POST" action="/signup/">
                    <table>
                        <tr>
                            <td>UserName：</td>
                            <td>
                                <input type="text" name="username" required style="line-height: 150%;">
                            </td>
                        </tr>
                        <tr>
                            <td>Password：</td>
                            <td>
                                <input type="password" name="password" required style="line-height: 150%;">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="submit" class="button is-primary" value="注册">
                                
                            </td>
                            <td>
                                <a href="/login/" class="button">已有账号？去登录</a>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>


{% endblock %}