<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Submit</title>
	<link rel="stylesheet" href="../style/style.css" />
</head>
<body>
	<div id="container">
		<div id="header" >

			<div id="logo"></div>

			<div id="other">
				<span>Username&nbsp</span>
				<img src="../pic/1.jpg" alt="image">
				<span>&nbsp&nbsp</span>
			</div>

		</div>

		<div id="main">
			<div id="aside">
				<div id="Home Page">
					<a href="index.html">Home Page</a>
				</div>

				<div id="My courses">
					<a href="my_courses.html">My courses</a>
				</div>

				<div id="Procress">
					<a href="process.html">Process</a>
				</div>

				<div id="Settings">
					<a href="settings.html">Settings</a>
				</div>
			</div>

			<div id="content">
				<div id="ssh">
					<p>SSH方式</p>
					<textarea name="SSH方式" cols="75" rows="2"></textarea>
				</div>

				<div id="submit">
					<p>直接上传文件</p>
					<input type="submit" value="选择文件" name="submit-file" style="font-size:16px;margin-right:10px;margin-top:8px;padding:1px;">
				</div>

				<div id="edit">
					<p>代码编辑器</p>
					<textarea name="edit" cols="145" rows="18"></textarea>
					<a href="result/1.html" style="float:right;font-size:15px;">
					    <button style="font-size:16px;margin-right:10px;margin-top:8px;padding:1px;">运行</button>
					</a>
				</div>

			</div>

		</div>

	</div>
</body>
</html>