<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Settings</title>
	<link rel="stylesheet" href="/static/style_student.css" />
</head>
<body>
	{% for message in get_flashed_messages() %}
	    <div class="alert" style="float:left;margin-left:45%;margin-top:8px;text-align:center;font-size:18px;color:black;width:20%;font-weight:bold;">
	    	{{ message }}
	    </div>
	{% endfor %}
	<div id="container">
		<div id="header" >
			<div id="logo">
	            <img src="/static/pic/logo.png" alt="">
	            <span>GPU管理系统</span>
	        </div>

			<div id="other">
				<form form method="POST" action="/logout/">
					<a id="login_out" href="/logout/" class="button">退出登录</a>
					<div id="user_img">
						<img src="{{ current_user.pic_path }}" alt="image">
					</div>
					<div id="user_name">
						<span>{{ current_user.username }}</span>
					</div>
				</form>			
			</div>
		</div>

		<div id="main">
			<div id="aside">
				<br>
				<div id="Home Page">
					<div class="asidepic">
						<img src="/static/pic/home.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/index/">主页</a>
					</div>
				</div>

				<div id="My courses">
					<div class="asidepic">
						<img src="/static/pic/courses.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/my_courses/">我的课程</a>
					</div>
				</div>

				<div id="Process">
					<div class="asidepic">
						<img src="/static/pic/process.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/process/">进程</a>
					</div>
				</div>

				<div id="Settings">
					<div class="asidepic">
						<img src="/static/pic/settings.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/settings/">设置</a>
					</div>
				</div>
			</div>

			<div id="content">
				{% for gc in gpuc %}
				{% for c in courses %}
				{% if c['name'] == gc['course_name'] %}
				<div id="couresename">
					<a href="/my_courses/all_courses/{{ c['id'] }}/" class="button">
						返回课程页面
						<div class="asidepic" style="margin:5px 2px;">
							<img src="/static/pic/back.png" alt="">
						</div>
					</a>
					<p>{{ c['name'] }}课程</p>
				</div>
				{% endif %}
				{% endfor %}
				{% endfor %}
				<form method="POST" action="/">
					<div id="ssh">
						<p>
							<strong>SSH方式</strong>
							<input id="ssh_button" type="submit" class="#" value="提交">
						</p>						
						<input id="ssh_text" type="text" name="SSH方式" required style="height:2em;width:100%;margin-top:3px;background:rgba(255,255,255,0.7);border-radius:5px;border:1px solid white;">
					</div>
				</form>
				
				<form method="POST" action="/">
					<div id="submit">
						<p><strong>直接上传文件</strong></p>
						<input id="submit_button_file" type="file" class="#">
						<input id="submit_button" type="submit" class="#" value="提交">
					</div>
				</form>
				
				<form method="POST" action="/">
					<div id="edit">
						<p>
							<strong>代码编辑器</strong>
						</p>
						<textarea id="edit_text" name="edit" cols="140" rows="18">请输入代码</textarea>
						<input id="edit_button" type="submit" class="#" value="运行">
					</div>
				</form>
			</div>

		</div>

	</div>
</body>
</html>