<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Settings</title>
	<link rel="stylesheet" href="../static/style.css" />
</head>
<body>
	{% for message in get_flashed_messages() %}
	    <div class="alert" style="float:left;margin-left:45%;margin-top:8px;text-align:center;font-size:18px;color:black;width:20%;font-weight:bold;">
	    	{{ message }}
	    </div>
	{% endfor %}
	<div id="container">
		<div id="header" >
			<div id="logo">
	            <img src="../static/pic/logo.png" alt="">
	            <span>GPU管理系统</span>
	        </div>

			<div id="other">
				<form form method="POST" action="/logout/">
					<a id="login_out" href="/logout/" class="button">退出登录</a>
					<div id="user_img">
						<img src="{{ current_user.pic_path }}" alt="image">
					</div>
					<div id="user_name">
						<span>{{ current_user.username }}</span>
					</div>
				</form>			
			</div>
		</div>

		<div id="main">
			<div id="aside">
				<br>
				<div id="Home Page">
					<div class="asidepic">
						<img src="../static/pic/home.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/index/">主页</a>
					</div>
				</div>

				<div id="My courses">
					<div class="asidepic">
						<img src="../static/pic/courses.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/my_courses/">我的课程</a>
					</div>
				</div>

				<div id="Process">
					<div class="asidepic">
						<img src="../static/pic/process.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/process/">进程</a>
					</div>
				</div>

				<div id="Settings">
					<div class="asidepic">
						<img src="../static/pic/settings.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="/settings/">设置</a>
					</div>
				</div>
			</div>

			<div id="content">
				<div id="coure_notice" class="index_box">
					<a href="/my_courses/">
						<div class="index_img">
							<img src="../static/pic/courses.png" alt="">
						</div>
						<p>程序设计</p>
					</a>
					<form method="POST" action="/">
						<input id="new_notice_button" type="submit" class="button is-info" value="发布新的通知">
					</form>
					<div class="index_coursebox">
						<a href="">
							<div class="index_img">
								<img src="../static/pic/message_.png" alt="">
							</div>
							<span>通知1</span>
						</a>
					</div>
					<div class="index_coursebox">
						<a href="">
							<div class="index_img">
								<img src="../static/pic/message_.png" alt="">
							</div>
							<span>通知2</span>
						</a>
					</div>
					<div class="index_coursebox">
						<a href="">
							<div class="index_img">
								<img src="../static/pic/message_.png" alt="">
							</div>
							<span>通知3</span>
						</a>
					</div>
					<p class="index_box_no">--没有更多通知--</p>
				</div>

				<div id="coure_notice" class="index_box">
					<a href="/my_courses/">
						<div class="index_img">
							<img src="../static/pic/courses.png" alt="">
						</div>
						<p>机器学习</p>
					</a>
					<form method="POST" action="/">
						<input id="new_notice_button" type="submit" class="button is-info" value="发布新的通知">
					</form>
					<div class="index_coursebox">
						<a href="">
							<div class="index_img">
								<img src="../static/pic/message_.png" alt="">
							</div>
							<span>通知1</span>
						</a>
					</div>
					<div class="index_coursebox">
						<a href="">
							<div class="index_img">
								<img src="../static/pic/message_.png" alt="">
							</div>
							<span>通知2</span>
						</a>
					</div>
					<div class="index_coursebox">
						<a href="">
							<div class="index_img">
								<img src="../static/pic/message_.png" alt="">
							</div>
							<span>通知3</span>
						</a>
					</div>
					<p class="index_box_no">--没有更多通知--</p>
				</div>

				<div id="coure_notice" class="index_box">
					<a href="/my_courses/">
						<div class="index_img">
							<img src="../static/pic/courses.png" alt="">
						</div>
						<p>人工智能</p>
					</a>
					<form method="POST" action="/">
						<input id="new_notice_button" type="submit" class="button is-info" value="发布新的通知">
					</form>
					<div class="index_coursebox">
						<a href="">
							<div class="index_img">
								<img src="../static/pic/message_.png" alt="">
							</div>
							<span>通知1</span>
						</a>
					</div>
					<div class="index_coursebox">
						<a href="">
							<div class="index_img">
								<img src="../static/pic/message_.png" alt="">
							</div>
							<span>通知2</span>
						</a>
					</div>
					<div class="index_coursebox">
						<a href="">
							<div class="index_img">
								<img src="../static/pic/message_.png" alt="">
							</div>
							<span>通知3</span>
						</a>
					</div>
					<p class="index_box_no">--没有更多通知--</p>
				</div>

				<div id="coure_notice" class="index_box">
					<a href="/my_courses/">
						<div class="index_img">
							<img src="../static/pic/courses.png" alt="">
						</div>
						<p>人工神经网络</p>
					</a>
					<form method="POST" action="/">
						<input id="new_notice_button" type="submit" class="button is-info" value="发布新的通知">
					</form>
					<div class="index_coursebox">
						<a href="">
							<div class="index_img">
								<img src="../static/pic/message_.png" alt="">
							</div>
							<span>通知1</span>
						</a>
					</div>
					<div class="index_coursebox">
						<a href="">
							<div class="index_img">
								<img src="../static/pic/message_.png" alt="">
							</div>
							<span>通知2</span>
						</a>
					</div>
					<div class="index_coursebox">
						<a href="">
							<div class="index_img">
								<img src="../static/pic/message_.png" alt="">
							</div>
							<span>通知3</span>
						</a>
					</div>
					<p class="index_box_no">--没有更多通知--</p>
				</div>

				<div id="coure_notice" class="index_box">
					<a href="/my_courses/">
						<div class="index_img">
							<img src="../static/pic/courses.png" alt="">
						</div>
						<p>xxx实验室</p>
					</a>
					<form method="POST" action="/">
						<input id="new_notice_button" type="submit" class="button is-info" value="发布新的通知">
					</form>
					<div class="index_coursebox">
						<a href="">
							<div class="index_img">
								<img src="../static/pic/message_.png" alt="">
							</div>
							<span>通知1</span>
						</a>
					</div>
					<div class="index_coursebox">
						<a href="">
							<div class="index_img">
								<img src="../static/pic/message_.png" alt="">
							</div>
							<span>通知2</span>
						</a>
					</div>
					<div class="index_coursebox">
						<a href="">
							<div class="index_img">
								<img src="../static/pic/message_.png" alt="">
							</div>
							<span>通知3</span>
						</a>
					</div>
					<p class="index_box_no">--没有更多通知--</p>
				</div>

				<p style="clear:both;text-align:center;margin:10px;">--没有更多课程--</p>				
			</div>
		</div>

</body>
</html>