<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Programm1-Result</title>
	<link rel="stylesheet" href="../style/style.css" />
</head>
<body>
	<div id="container">
		<div id="header" >
			<div id="logo">
				<img src="../pic/logo.png" alt="">
				<span>GPU管理系统</span>
			</div>

			<div id="other">
				<div id="userimg">
					<img src="../pic/1.jpg" alt="image">
					<span>&nbsp&nbsp&nbsp</span>
				</div>
				<div id="userinfo">
					<select name="user" id="user">
						<option selected="selected" value="0" class="userselect">
							<span>Username</span>
						</option>
						<option value="1" class="userselect">通知</option>
						<option value="2" class="userselect">退出登录</option>
					</select>
				</div>				
			</div>
		</div>

		<div id="main">
			<div id="aside"><br>
				<div id="Home Page">
					<div class="asidepic">
						<img src="../pic/home.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="index.html">Home Page</a>
					</div>
				</div>

				<div id="My courses">
					<div class="asidepic">
						<img src="../pic/courses.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="my_courses.html">My courses</a>
					</div>
				</div>

				<div id="Process">
					<div class="asidepic">
						<img src="../pic/process.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="process.html">Process</a>
					</div>
				</div>

				<div id="Settings">
					<div class="asidepic">
						<img src="../pic/settings.png" alt="">
					</div>
					<div class="asidechoices">
						<a href="settings.html">Settings</a>
					</div>
				</div>
			</div>

			<div id="content">
				<div id="result-sum" class="result">
					<p>Programm1-xxx</p>
					<div class="box" >
						<p style="height:50px;">
							这个地方要显示的东西我还没有想通怎么链接过来
						</p>
					</div>
				</div>

				<div id="result-all" class="result">
					<p>
						运行结果
					</p>
					<p class="box" style="height:300px;">
						xxxxxxxxxxxxxxxx
						<br>
						xxxxxxxxxxx
					</p>
				</div>

			</div>

		</div>

</body>
</html>